<div class="row">
  {{#each projects as |project|}}
  <div class="col-md-4">
    <div class="card">
      <img src="./Assets/House Placeholder.png" alt="house place holder" class="card-img-top">
      <div class="card-body">
        <p>Beautiful Property for Sale</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Property Address: {{project.dataValues.address}}</li>
          <li class="list-group-item">Listing ID: {{project.dataValues.listing_id}}</li>
          <li class="list-group-item">Property Price: {{project.dataValues.price}}</li>
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
</div>