{{#each projects as |project|}}
      <div class="container">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
           <div class="card">
                <img src="./Assets/Hosue Placeholder.png" alt="house place holder" class="card-img-top">
                {{!-- <img src="{{project.img_url}}" alt="house place holder" class="card-img-top"> --}}
                <div class="card-body">
                    <p>Beautiful Property for Sale</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{project.address}}</li>
                        <li class="list-group-item">{{project.listing_id}}</li>
                        <li class="list-group-item">{{project.price}}</li >
                      </ul>
                </div>
            </div>
            </div>
{{/each}}