<!--body section-->
<div class="container">

    <form>

        <!-- Text input -->
        <div class="form-outline mb-4">
            <input type="text" id="address" class="form-control" />
            <label class="form-label" for="address">Address</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
            <input type="text" id="city" class="form-control" />
            <label class="form-label" for="city">City</label>
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
            <input type="text" id="state" class="form-control" />
            <label class="form-label" for="state">State</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="zip-code" class="form-control" />
            <label class="form-label" for="zip-code">Zipcode</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
            <input type="number" id="price" class="form-control" />
            <label class="form-label" for="price">Price</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea class="form-control" id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7">Upload Property Image</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 new-house-submit">Submit</button>
    </form>
</div>